/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Gaya untuk body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Gaya untuk header */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2rem;
    color: #333;
}

header p {
    color: #666;
}

/* Gaya untuk section */
main section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Gaya untuk h2 */
h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

/* Gaya untuk daftar ul */
ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Gaya untuk footer */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
}
